{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>

    <div>
    <div class="testDropdown">

    </div>

    <div class="testDropdown2">

    </div>
    <button class="clicker">Click</button>

  </div> --}}

  <!-- Code from the original  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <h1 class="header">Holiday Traveler</h1>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
-->
<!-- Start of our code -->
<div id="fh5co-wrapper">
  <div id="fh5co-page">
      <div id="fh5co-header">
          <header id="fh5co-header-section">
              <div class="container col-lg-12">
                  <div class="nav-header">
                      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                      <a class="navbar-brand" href="/logout">Logout</a>
                      <h1 id="fh5co-logo"><a style="color: white;" href="index">Holiday Traveler</a></h1>
                      <!-- START #fh5co-menu-wrap -->
                      <nav id="fh5co-menu-wrap" role="navigation">
                          <ul class="sf-menu" id="fh5co-primary-menu">
                          </ul>
                      </nav>
                  </div>
              </div>
          </header>
      </div>
      <div class="fh5co-hero">
          <div class="fh5co-overlay"></div>
          <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/moab.jpg);">
              <div class="desc animate-box">
                  <h2>TRAVEL AROUND THE WORLD</h2>
                  

                    <div class="testDropdown">

                    </div>

                    <div class="testDropdown2"></div>
                    <button class="clicker btn btn-primary btn-lg">Search for Holidays</button>
              </div>
          </div>
      </div>
      <script src="js/jquery.min.js"></script>
      <!-- jQuery Easing -->
      <script src="js/jquery.easing.1.3.js"></script>
      <!-- Bootstrap -->
      <script src="js/bootstrap.min.js"></script>
      <!-- Waypoints -->
      <script src="js/jquery.waypoints.min.js"></script>
      <!-- Stellar -->
      <script src="js/jquery.stellar.min.js"></script>
      <!-- Superfish -->
      <script src="js/hoverIntent.js"></script>
      <script src="js/superfish.js"></script>
      <!-- Main JS -->
      <script src="js/main.js"></script>
      <script src="js/countryList.js"></script>
<!-- End -->
<!-- Code from the original 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript" src="js/countryList.js"></script>
  <script type="text/javascript" src="js/members.js"></script>