<!-- Start of our code -->


<div id="fh5co-header">
    <header id="fh5co-header-section">
        <div class="container col-lg-12">
            <div class="nav-header">
                <a class="navbar-brand" href="/logout">Logout</a>
                <h1 id="fh7co-logo" style="color: white;">Holiday Traveler</h1>
                <!-- START #fh5co-menu-wrap -->
            </div>
        </div>
    </header>
</div>
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
        style="background-image: url(images/Beautiful_Sunrise_Background-448.jpg);">
        <div class="desc animate-box">
            <h2>TRAVEL AROUND THE WORLD</h2>


            <div class="testDropdown"></div>
            <div class="testDropdown2"></div>

            <br>

            <button class="clicker btn btn-primary btn-lg">Search for Holidays</button>
        </div>

        <script src="js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="js/jquery.waypoints.min.js"></script>
        <!-- Stellar -->
        <script src="js/jquery.stellar.min.js"></script>
        <!-- Superfish -->
        <script src="js/hoverIntent.js"></script>
        <script src="js/superfish.js"></script>
        <!-- Main JS -->
        <script src="js/main.js"></script>
        <script src="js/countryList.js"></script>
        <!-- End -->
        <!-- Code from the original 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript" src="js/countryList.js"></script>
  <script type="text/javascript" src="js/members.js"></script>