@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
    format("embedded-opentype");
}
body {
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.6;
  font-size: 26px;
  background: #121212;
  color: plum;
  font-weight: 300;
  overflow-x: hidden;
}
.fh5co-cover,
.fh5co-hero {
  position: relative;
  height: 1000px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover,
  .fh5co-hero {
    height: 700px;
  }
}
.fh5co-cover.fh5co-hero-2,
.fh5co-hero.fh5co-hero-2 {
  height: 600px;
}
.fh5co-cover.fh5co-hero-2 .fh5co-overlay,
.fh5co-hero.fh5co-hero-2 .fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
.fh5co-cover {
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .btn {
  padding: 1em 3em;
  opacity: 15;
  background: red !important;
}
.fh5co-cover.fh5co-cover_2 {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover_2 {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .desc {
  top: 50%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fh5co-cover .desc h2 {
  color: peachpuff;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 300 !important;
}
.fh5co-cover .desc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-section {
    padding: 3em 0;
  }
}
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}
#fh5co-header-section {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-header {
  position: relative;
  float: left;
  width: 100%;
}
#fh5co-logo {
  position: relative;
  z-index: 2;
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 700;
  float: left;
}
#fh5co-logo span {
  font-weight: 900;
}
@media screen and (max-width: 900px) {
  #fh5co-logo {
    width: 200%;
    float: none;
    text-align: center;
  }
}
#fh5co-logo a {
  color: red;
}
#fh5co-logo a:hover,
#fh5co-logo a:focus {
  color: #fff !important;
}
#fh5co-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  margin-top: 15px;
}
#fh5co-menu-wrap .sf-menu a {
  padding: 1em 0.75em;
}
#fh5co-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: -5px;
  top: 50%;
  margin-top: -7px;
  content: "\e922";
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-primary-menu > li > ul li {
  position: relative;
}
#fh5co-primary-menu .fh5co-sub-menu {
  padding: 10px 7px 10px;
  background: #fff;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#fh5co-primary-menu .fh5co-sub-menu > li > .fh5co-sub-menu {
  left: 100%;
}
#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: "";
}
#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  content: "";
}
#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}
.heading-section {
  padding-bottom: 1em;
  margin-bottom: 5em;
}
.heading-section:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 2px;
  background: #264E86;
}
.heading-section h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
}
.heading-section p {
  font-size: 20px;
}
#fh5co-contact .contact-info {
  margin: 0;
  padding: 0;
}
#fh5co-contact .contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
#fh5co-contact .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  background: transparent;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
#fh5co-contact .form-control:focus,
#fh5co-contact .form-control:active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#fh5co-contact input[type="text"] {
  height: 50px;
}
#fh5co-contact .form-group {
  margin-bottom: 30px;
}
#fh5co-contact .btn {
  background: #83CC61;
}
#map {
  width: 100%;
  height: 500px;
  position: relative;
}
#footer {
  float: left;
  width: 100%;
  clear: both;
  background: green;
  padding: 60px 0 40px;
}
#footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer p a:hover,
#footer p a:active,
#footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: #393E46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  border-color: transparent;
}
.js .animate-box {
  opacity: 0;
}
#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}
.fh5co-offcanvas {
  overflow: hidden;
}
.fh5co-offcanvas #fh5co-wrapper {
  overflow: hidden !important;
}
#fh5co-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-menu-wrap {
    display: none;
  }
}
#offcanvas-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
}
#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover {
  color: #fff !important;
}
#offcanvas-menu ul li > .fh5co-sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}
#offcanvas-menu ul li > .fh5co-sub-menu a:hover {
  color: #fff;
}
#offcanvas-menu ul li.active > a {
  color: #fff;
}
#offcanvas-menu ul .fh5co-sub-menu {
  display: block !important;
}
.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
    margin-top: 2em;
  }
}
.mb20 {
  margin-bottom: 20px;
}
.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}
.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}
.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}
.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}
.border-bottom {
  border-bottom: 1px solid green;
}
.lead {
  line-height: 1.8;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat green;
}