form.signup,
form.login {
  margin-top: 50px;
}
body {
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.6;
  font-weight: 300;
  background-image: url("../images/gplaypattern.png");
}
.header {
  font-family: "Raleway", Arial, sans-serif;
  color: red;
  text-align: center;
  padding: 1%;
  border-radius: 0%;
  margin: 0% auto;
}
.userbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;

};
